
body {
    font-family: Helvetica, Arial, sans-serif;
}

.loggingClass{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 2px;
}

/* for overall layout*/
#grid {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 34% 33% 33%;
}

div{
    padding: 0;
    text-align:center;
}

/* CSS for the face */

* { vector-effect: non-scaling-stroke }

svg#facebox { max-width: 10em; width: 24vmin }

[x] {
    fill: yellow;
    stroke: currentcolor;
    cursor: pointer
}

.buttonFace {
    background-color: #fcd049;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 86%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.buttonFace:hover {
    background-color: #e8bc33;
}



/*  chat interface  */

div#sideBySideParent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
}

div#textInputDiv{
    background-image: linear-gradient(
            0deg,
            #111212,

            lightgreen
    );
    border-radius: 25px;

    color:black;
    align:left;
    padding:2%;
}

.buttonChat {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 86%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.buttonChat:hover {
    background-color: #3e8e41;
}

input#chatInput {
    background-color: #232423;
    border: 2px solid #37a354;
    border-radius: 4px;
    color: white;
    width: 80%;
    padding:0.7%;
}

input#chatInput:focus {
    border: 2px solid #17fc67;
    outline: none;
}

p#transcript {
    margin-left: 4%;
    font-size: 1.1em;
    text-align: left;
}

/*  transcript  */
.scrollClass {
    height: 200px;
    overflow-y: scroll;
}
